@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {/* Konfiguracja motywu dla Tailwind (kolory i czcionki). */

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {/* Jeśli użytkownik ma ustawiony systemowy „ciemny motyw” → zmieniam kolory globalne. */
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {/* domyślna czcionka i kolor tekstu i tła dla całego body*/
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
