@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer theme {/* Konfiguracja motywu dla Tailwind (kolory i czcionki). */
  :root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }
}


body {/* domyślna czcionka i kolor tekstu i tła dla całego body*/
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.left-bg {
  background-image: url('/library-bg.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}

